language: python

jobs:
  include:
    - os: linux
      python: 3.8


osx_image: xcode12.3

before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update          ; fi

script:
  - pip install -r requirements.txt
  - python setup.py install
  - >
    pyinstaller
    --name "BotAPlot"
    --osx-bundle-identifier "com.armyofevilrobots.botaplot"
    --icon src/botaplot/resources/images/aoer_logo_min.icns
    --windowed
    --hidden-import=botaplot.resources.images
    src/main/python/main.py
