CairoSVG==2.5.1
hjson==3.0.2
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd @ git+https://github.com/KivyMD/KivyMD.git@263d595f8f2b80e5114bde15ffb0c4ba20adae05
matplotlib==3.3.3
numpy==1.20.0
penkit==0.0.6
pyserial==3.5
requests==2.25.1
scipy==1.5.4
svgpathtools==1.4.1
svgwrite==1.4
